/*********************************************
        General
*********************************************/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.center {
    text-align: center;
}

/*********************************************
        Nav - Menu
*********************************************/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(53, 51, 51);
    padding: 8px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    flex-direction: row;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

nav ul li a:hover {
    color: orange;
}

/*********************************************
        Container
*********************************************/
.container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

/*********************************************
        Home
*********************************************/
.imgDemo {
    height: 250px;
}

@media (max-width: 425px)  {
    .imgDemo {
        width: 70vw;
        height: 200px;
    }
}

/*********************************************
        Registration
*********************************************/
fieldset {
    border-radius: 10px;
}

fieldset h1 {
    text-align: center;
}

fieldset form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

fieldset form span {
    flex-direction: row;
}

fieldset form label {
    font-size: 1.2rem;
    font-weight: bold;
}

fieldset form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    margin-bottom: 15px;
    outline: none;
    height: 30px;
}

.errorForm {
    height: 25px;
}

::placeholder {
    color: rgb(49, 49, 49);
}

fieldset form p {
    margin: 0;
    font-size: 0.8rem;
}

.formButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/*********************************************
        Login
*********************************************/
#loginError {
    color: red;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

/*********************************************
        Profil
*********************************************/
.imgProfilQuestion {
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
}

.profile {
    width: 30vw;
}

.profile p {
    margin: 10px 0 0 0;
    padding: 0;
}

.profilSelectBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilSelectBtn select {
    border-radius: 20px;
    height: 25px;
    width: 250px;
    margin-top: 10px;
    text-align: center;
}

#memoryProfileImg {
    width: 20vw;
    margin-top: 10px;
}

/*********************************************
        Game
*********************************************/
#gameScore {
    display: none;
}

table {
    border-spacing: 15px;
    /* border: 2px solid black; */ /* Directement en JS */
    border-radius: 10px;
    height: 600px;
    margin-top: 30px;
}

table tr td {
    border: 1px solid black;
    cursor: pointer;
    background: black;
    border-radius: 20px;
    position: relative;
    perspective: 1000px;
}

td .card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

td .card.flipped {
    transform: rotateY(180deg);
}

td .front, td .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

td .front {
    background: white; /* Face avant avec le point d'interrogation */
}

td .back {
    transform: rotateY(180deg);
}

table tr td img {
    height: 120px;
    padding: 15px;
}

button {
    background: linear-gradient(to right, #004f80, #0048a8);
    width: 150px;
    padding: 13px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 0.95rem;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}